<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
</head>

	<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/cliente.js" th:src="@{/cliente.js}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
<body>
</br>
    <h3 style="text-align: center;">Sorry, there was  asn error occurred!</h3>
    <a href="/clientes/getAll" id="clientes">Voltar</a>
    
    <style>
    
    
    #clientes {
			color: #17a2b8;
			font-size: 40px;
			text-align: center;
			margin-left:10px;

		}
     </style>
    
</body>
</html>